@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
body{
    background: #efeeee;
    color: #2f1e1b;
    position: relative;
}
#header, #about, #service, #project, #project_susgfinance,
#project_crimedata, #project_restaurantmanagement{
    width: 100%;
    min-height: 100vh;
}
#project_susgfinance,
#project_crimedata, #project_restaurantmanagement{
    padding-top: 3px;
}
.container{
    padding: 10px 10%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sub-title{
    font-size: 45px;
    font-weight: 600;
    color: #ac2e19;
}
.material-icons{
    font-size: 24px;
    color: #ac2e19;
}

/*-----header-----*/
.logo{
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.3rem;
}
.logo-text{
    color: #ac2e19;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
}
.logo-text-sub{
    font-weight: 600;
}
.header-text{
    margin-top: 15%;
    font-size: 25px;
    width: 60%;
    float: left;
}
.header-text h1{
    font-size: 50px;
    margin-top: 15px;
}
.header-text h1 span{
    color: #ac2e19;
}
.header-image{
    width: 40%;
    float: right;
    margin-top: 5%;
}
.header-image img{
    width: 100%;
    border-top-left-radius: 150% 70%;
    border-top-right-radius: 70% 150%;
    border-bottom-left-radius: 70% 150%;
    border-bottom-right-radius: 150% 70%;
}

/*navigation*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #2f1e1b;
    font-weight: 600;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ac2e19;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

/*-----about-----*/
#about{
    padding: 80px 0;
    background: linear-gradient(to bottom right, #ac2e19, #5c1002);
    color: #efeeee;
}
.about-col-1{
    flex-basis: 32%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.about-col-2{
    flex-basis: 62%;
}
.tab-title{
    display: flex;
    margin: 20px 0 40px;
}
.tab-link{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tab-link::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fae73f;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}
.tab-link.active-link::after{
    width: 50%;
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li span{
    color: #f0e475;
    font-size: 16px;
    font-weight: 600;
}
.tab-content{
    display: none;
}
.tab-content.active-tab{
    display: block;
}

/*-----service-----*/
#service{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background-color: #e9e9e9;
    padding: 20px 40px 40px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 20px;
    color: #ac2e19;
}
.services-list h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.services-list div:hover{
    background-image: linear-gradient(to right, #fae73f, #e1ce27);
    transform: translateY(-10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.services-list div:hover i{
    color: #efeeee;
}

/*-----projects-----*/
#projects{
    padding: 30px 0 50px;
    margin-bottom: 50px;
}
.card{
    margin: 50px 0 30px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.card-header,.card-footer{
    width: 75%;
    position: absolute;
    margin-bottom: 5px;
    padding: 7px 10px;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom right, #ac2e19, #5c1002);
    backdrop-filter: blur (10px);
    border-radius: 10px;
    transform: translateY(-20px);
    opacity: 0;
    transition: all 0.4s;
    color: #efeeee;
}
.card-header{
    top: -40px;
    transform: translateY(0);
    opacity: 1;
    box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.089),
    0 20px 20px rgba(0, 0, 0, 0.089);
}
.card-header div{
    padding-left: 8px;
}
.card-header div h1{
    font-size: 19px;
    font-weight: 700;
}
.card-header div p.create{
    font-size: 14px;
}
.small-header{
    font-size: 9px;
}
.card-body{
    width: 80%;
}
.card-body img{
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card-footer{
    padding: 12px 0;
    justify-content: space-evenly;
    bottom: -20px;
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.4s;
}
p span{
    background: #fae73f;
    padding: 3px 10px;
    margin: 0 3px;
    border: 0;
    border-radius: 10px;
    font-size: 12px;
    color: #2f1e1b ;
}
.card:hover .card-footer{
    transform: translateY(0);
    opacity: 1;
}
.card-footer{
    box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.089),
    0 20px 20px rgba(0, 0, 0, 0.089);
}
.description, .developers{
    font-size: 13px;
    text-align: justify;
    margin: 0 10px 10px;
}
.developers{
    padding-bottom: 30px;
}
/*appear fixed project buttons*/
.proj{
    text-decoration: none;
    color: #2f1e1b;
    left: 0;
    position: fixed;
    justify-content: center;
    display: inline-table;
    flex-direction: column;
}
.proj span a{
    background: linear-gradient(to right, #fcf294, #f0e475);
    padding: 10px 20px 10px 10px;
    border: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 10px;
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    transition-duration: 1s;
    animation: move-proj 1s linear;
}
@keyframes move-proj {
    0%   { transform: translatex(-100px); }
    100% { transform: translatex(0); }  
}
.proj.p1{
    bottom: 58%;
}
.proj.p2{
    bottom: 50%;
}
.proj.p3{
    bottom: 42%;
}
.proj span a:hover{
    background: linear-gradient(to right, #fae73f, #fae73f);
    padding-left: 20px;
}

/*-----Contact-----*/
#contact{
    background: #ac2e19;
    color: #efeeee;
    padding-top: 40px;
}
.con{
    color: #efeeee;
    margin-bottom: 30px;
    color: #fae73f;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 63%;
}
.contact-left p{
    margin-top: 20px;
}
.social-icons{
    margin: 30px 0;
}
.social-icons img{
    width: 20px;
}
.social-icons a{
    text-decoration: none;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    transform: translateY(-5px);
}
.btn-download{
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    background: #2f1e1b;
    padding: 10px 20px;
    border-radius: 20px;
    color: #efeeee;
    border:0 solid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.btn-download:hover{
    background: #0b0605;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #e0e0e0;
    padding: 15px;
    margin: 15px 0;
    color: #2f1e1b;
    border-radius: 10px;
}
form .btn-download{
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.contact-icons{
    font-size: 14px;
    color: #fae73f;
}
#msg{
    color: #4bc60e;
    margin-top: -10px;
    display: block;
}
/*
#efeeee white
#ac2e19 maroon
#2f1e1b brown
#b29b9b brown-white
#cb9244 yellow-brown
*/

/*fixed return button*/
.go-up{
    text-decoration: none;
    color: #2f1e1b;
    right: 30px;
    bottom: 40px;
    position: fixed;
    justify-content: center;
    display: flex; 
}
.back{
    background-color: #f0e475;
    padding: 10px;
    border: 0;
    border-radius: 50%;
    list-style-type: none;
    transition: 0.5s;
    margin: auto;
    animation: move-return 1s linear;
}
.back:hover{
    padding: 15px;
    background-color: #fae73f;
}
@keyframes move-return {
    0%   { transform: translatex(100px); }
    100% { transform: translatex(0); }  
}
.links{
    display: flex; 
    justify-content: center; 
    align-items: center;
    overflow: hidden;
}